name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
  issue_comment:
  # Enable manual trigger for easy debugging
  workflow_dispatch:

jobs:
  dagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          [ "${{ github.event_name }}" = "issue_comment" ] && gh pr checkout ${{ github.event.issue.number }} || true
        env:
          GH_TOKEN: ${{ github.token }}
      - uses: dagger/dagger-for-github@v5
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          version: "0.10.0"
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          verb: call
          module: ./ci
          args: |
            --work-dir . \
            handle \
            --github-token env:GITHUB_TOKEN \
            --event-name ${{ github.event_name }} \
            --event-file ${{ github.event_path }} \
